**/*.min.js
**/*.build.js
**/node_modules/**
**/vendor/**
**/dist/blocks.build.js
**/dist/blocks.editor.build.css
**/dist/blocks.style.build.css
**/build/**
build
coverage
cypress
node_modules
vendor
*.sublime-project
*.sublime-workspace
.DS_Store
.ftppass
*.cache
sftp.json.github/
src/.DS_Store
dist/blocks.editor.build.css
dist/styles/block-gallery-admin.css
dist/styles/block-gallery-admin.min.css
src/.DS_Store
dist/css/block-gallery-admin.css
dist/css/block-gallery-admin.min.css
