// Core Gutenberg modules
@import "editor/core/colors";
@import "editor/core/variables";
@import "editor/core/breakpoints";
@import "editor/core/mixins";

// Our modules
@import "editor/icons";
@import "editor/gallery-item";
@import "editor/remove-gallery-item-button";
@import "editor/gallery-upload";
@import "editor/inspector";
@import "editor/inspector-tabs";
@import "editor/radius";
@import "editor/is-background-transient";
@import "editor/flickity-arrows";
@import "editor/core-themes";

.components-toolbar {

	.components-dropdown-menu {
		padding: 0;
	}
}

.blockgallery {

	.components-resizable-box__handle {
		z-index: 9999;
	}
}

.components-blockgallery-inspector__lightbox {
	display: none;
}

.editor-media-placeholder[class*="blockgallery"] .components-placeholder__label .dashicon {
	margin-right: 0.7ch;
	position: relative;
	top: -2px;
}

.components-blockgallery-inspector__size-control--shadow {
	margin-bottom: 2.85em;
}

// Hide the position display fields.
.components-focal-point-picker--blockgallery {
	margin-bottom: 1.9em !important;

	.components-focal-point-picker_position-display-container {
		display: none;
	}
}

.components-background-display-select--blockgallery {
	margin-top: -1.05em !important;
}

.components-panel__body--blockgallery-background-panel {

	> .components-base-control:first-of-type {
		margin-bottom: 1.3em !important;
		margin-top: 0.7em !important;
	}
}
