.wp-block-blockgallery-carousel {

	&,
	.blockgallery {
		height: 100%;
		position: relative;
	}

	ul {
		list-style: none !important;
		padding: 0 !important;
	}

	.blockgallery--figure {
		height: 100%;
	}
}
