.has-no-arrows,
.editor-block-list__block[data-type="blockgallery/thumbnails"] {

	.flickity-prev-next-button {
		background-color: $blue;
		border: none;
		box-shadow: 0 0 0 1px rgba(#000, 0.08);
		width: 38px;
		height: 38px;
		border-radius: 4px;
		opacity: 1;
		display: none;

		&:hover {
			background-color: #007eb1;
		}

		&:active {
			background-color: #006a95;
		}

		.flickity-button-icon {
			fill: $white;
			top: 22.5%;
			width: 55%;
			height: 55%;
		}

		&.previous {
			left: 15px;

			.flickity-button-icon {
				left: 27%;
			}
		}

		&.next {
			right: 15px;

			.flickity-button-icon {
				left: 20%;
			}
		}
	}
}

.blockgallery.is-selected .flickity-prev-next-button {
	display: block;
}
