.components-blockgallery-inspector__tabs {
	margin-bottom: 1em;
	position: relative;

	&-item {
		appearance: none;
		background: $white;
		border-radius: 3px;
		border: 1px solid $dark-gray-150;
		color: $dark-gray-150;
		color: #555;
		height: 22px;
		line-height: 1;
		padding-left: 9px;
		padding-right: 9px;
		margin: 0;

		&:not(.is-active):hover {
			background: #fafafa;
			border-color: #999;
			color: $dark-gray-800;
			box-shadow: inset 0 -1px 0 #999;
		}

		&:not(.is-active):active {
			background: #eee;
			border-color: #999;
			box-shadow: inset 0 1px 0 #999;
		}

		&.is-active {
			background: #0185ba;
			border-color: #006a95;
			color: $white;
			z-index: 1;

			&:hover {
				background: #007eb1;
				border-color: #00435d;
				box-shadow: inset 0 -1px 0 #00435d;
			}

			&:active {
				background: #006a95;
				border-color: #00435d;
				box-shadow: inset 0 1px 0 #00435d;
			}
		}

		svg {
			height: 15px;
			position: relative;
			width: 15px;
		}

		&--mobile {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;

			&:not(.is-active) {
				border-right: none;
			}
		}

		&--desktop {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;

			&:not(.is-active) {
				border-left: none;
			}
		}
	}

	.components-tab-panel__tabs {
		position: absolute;
		right: 1px;
		top: -3px;
	}
}
