.editor-block-list__block[data-type*="blockgallery"] {

	.components-notice {
		border-radius: 4px;
		border: 0;
		padding: 7px 12px;
		font-size: 13px;
		font-family: $default-font;

		&.is-error {
			color: $alert-red;
		}
	}
}
